<template>
    <div class="row">
        <div class="col col-12">
            <h1>Quotes Added</h1>
            <div class="progress">
                <div    class="progress-bar" 
                        :style="{width: progressBarWidth}">
                        {{ quotesNumber }}/{{ maxQuotesNumber }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  props: ['quotesNumber', 'maxQuotesNumber'],
  computed: {
    progressBarWidth () {
        return Math.round(this.quotesNumber / this.maxQuotesNumber * 100) + '%';
    }
  },
  watch: {
      quotesNumber () {
          console.log(`Quotes number was changed to ${this.quotesNumber}!`);
      }
  }
}
</script>

<style>
    .progress {
        height: 2rem;
        font-size: 1rem;
    }
</style>
