<template>
  <div class="row justify-content-center">
      <div class="col col-6 text-center">
          <div class="form-group">
              <label for="exampleFormControlTextarea1">Quote</label>
              <textarea   class="form-control" 
                          id="exampleFormControlTextarea1" 
                          rows="3"
                          v-model="quoteText"
                          @keyup.ctrl.enter="addQuote(quoteText)">
              </textarea>
          </div>
          <button type="button" 
                  class="btn btn-primary" 
                  @click="addQuote(quoteText)"
                  >Add Quote</button>
          <button type="button" 
                  class="btn btn-secondary" 
                  @click="addQuote(`dummy quote`)"
                  >Fast quote</button>
      </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      quoteText: ''
    }
  },
  methods: {
    addQuote(quoteText) {
      this.$emit('quoteAdded', quoteText);
      this.quoteText = '';
    }
  }
}
</script>