<template>
  <div class="row mt-2 ml-1">
    <quote 
      tabindex="0"
      v-for="(quote, index) in quotes"
      :key="quote.id"
      @click.native="$emit('quoteDeleted', quote.id)"
      @keyup.delete.native="deleteQuote(quote.id, index)">
      {{quote.text}}
    </quote>
  </div>
</template>



<script>
import Quote from './Quote.vue';
export default {
  components: {
    Quote
  },
  props: {
    quotes: {
      type: Array,
      required: true
    }
  },
  methods: {
    deleteQuote(id, index) {
      this.$emit('quoteDeleted', id, index);
    }
  }
}
</script>