<template>
  <div class="col-12 col-md-4 col-lg-3">
    <div class="card mr-2 mb-2">
      <div class="card-body">
        <slot></slot>
      </div>
    </div>
  </div>
</template>


<style>
  .card-body {
    /* max-width: 300px; */
    word-wrap: break-word;
  }

</style>
