<template>
    <div class="container">
        <app-header :quotesNumber="quotes.length" :maxQuotesNumber="maxQuotesNumber"></app-header>
        <app-quote-input @quoteAdded="addQuote"></app-quote-input>
        <app-quote-grid :quotes="quotes" @quoteDeleted="deleteQuote" ref="quotes"></app-quote-grid>

        <div class="p-3 mb-2 bg-info text-white text-center mt-5 ml-1">Info: Click on a Quote to delete it</div>
    </div>
</template>

<script>
    let id = 3;

    import Header from './Components/Header.vue';
    import InputQuote from './Components/InputQuote.vue';
    import QuoteGrid from './Components/QuoteGrid.vue';

    export default {
        components: {
            'app-header': Header,
            'app-quote-input': InputQuote,
            appQuoteGrid: QuoteGrid // just for variaty of options
        },
        data () {
            return {
                quotes: [{
                    id: 1,
                    text: 'Quote 1'
                },
                {
                    id: 2,
                    text: 'Quote 2'                    
                }],
                maxQuotesNumber: 10
            }
        },
        methods: {
            addQuote(text) {
                if (this.quotes.length < this.maxQuotesNumber) {
                    this.quotes.push({
                        id: id++,
                        text: text
                    });
                } else {
                    alert(`Maximum quote number equel to ${this.maxQuotesNumber} reached! Please, delete some quotes first!`);
                }
                
            },
            deleteQuote(id, index) {
                console.log(`Index of deleted element is ${index}!`);
                this.quotes = this.quotes.filter(q => {
                    return q.id !== id;
                });
                this.$nextTick(function() {
                    let quotes = this.$refs.quotes.$el;
                    if (quotes.children[index]) {
                        quotes.children[index].focus();
                    } else if (quotes.children[index-1]) {
                        quotes.children[index-1].focus();
                    }
                });

            }
        }
        
    }
</script>

<style>
    body {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .card {
        font-family: "Arizonia", 'Marck Script', cursive;
        font-size: 2em;
    }

    .card:hover {
        background-color: rgb(253, 234, 237);
        cursor: pointer;
    }


</style>
